<h2>Blog Post (<% Post.find params[:id] %>)</h2>

<p>Title: <%= @post.title %></p>
<p>Body: <%= @post.body %></p>

<div>
<%= button_to "Edit Post", edit_post_path, method: :get %>
</div>

<div>
<%= button_to "Delete Post", post_path(@post), method: :delete,
                    data: {confirm: "Do you really want to delete it?"} %>
</div>

<div>
  <h2>New Comment</h2>

    <%= form_for [@post, @comment] do |f| %>
      <div>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <div>
               <%= f.submit %>
    <% end %>
</div>

<div>
  <h2>All Comments (<% Comment.count %>)</h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Created On</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.body %></td>
            <td><%= formatted_date(comment.created_at) %></td>
            <td><%= button_to "Delete", post_comment_path(@post, comment),
                method: :delete,
                data: {confirm: "Are you sure you want to delete this post?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to "Add a New Post", new_post_path %>
</div>
